html {
  font-family: "Noto Serif", serif;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border: none;
}

input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #6e8c62;
}

.textbox {
  height: 10em;
}

.green {
  color: #70ad55;
}

fieldset {
  border-top: none;
}

hr {
  border-color: rgba(112, 173, 85, .3);
}

.yesno {
  margin-bottom: 2.8rem;
}

.check {
  padding-bottom: .5rem;
}

@media only screen and (min-width: 38em) {

  .personaldetails {
    margin-bottom: 0;
  }

  .left-box {
    padding-right: .75em;
  }

  .right-box {
    padding-left: .75em;
  }

  .top-box {
    padding-top: 0;
  }

}
